<?xml version="1.0" encoding="UTF-8"?>
<Config>
  <targetMailServer>orbstheorem.ch</targetMailServer>
  <targetMailServerPort>9991</targetMailServerPort>
  <realUserName>prank@prank.com</realUserName>
  <NumberOfGroups>2</NumberOfGroups>
  <NumberOfTargetsInGroups>2</NumberOfTargetsInGroups>
  <Messages>
    <Message>
      <Content>Bravo, vous avez gagné un concours&#xD;
Venez chez nous pour le récupérer</Content>
      <Subject>Vous avez gagné</Subject>
    </Message>
    <Message>
      <Content>Demain, je dois absolument te voir pour parler de quelque chose d'important</Content>
      <Subject>Rendez vous urgent</Subject>
    </Message>
  </Messages>
</Config>